# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other stuff
/tdrs.sublime-workspace
*.dSYM
.DS_Store
autom4te.cache
/build-aux
aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/Makefile
/Makefile.in
/stamp-h1
/tdrs
.deps
.dirstamp
